.fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}


body {
    background-color: #0e0e0e09;
}


/* sheard-style */

.display-flex {
    display: flex;
}

.sheard-color {
    background-color: black;
}

/* sheard-style */

/* start-navber */
.nav-title {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 32px;
}

.nav-btn {
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 700;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
}

.navber {
    justify-content: space-between;
    align-items: center;
    margin: 10px 160px;
}

/* end-navber */

/* banner-start */
.banner-container {
    background-color: #C6E4D6;
    max-width: 1200px;
    height: 560px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 24px;
    gap: 60px;
    align-items: center;
    padding: 60px;
}

.banner-content1 {
    width: 550px;
    background-color: #C6E4D6;
}

.banner-content1 .banner-para {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E80;
    background-color: #C6E4D6;
    ;
}

.banner-content1 .banner-para2 {
    font-weight: 700;
    font-size: 56px;
    margin-top: 0px;
    background-color: #C6E4D6;
}

.banner-content1 .banner-button {
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 14px 34px;
    border: none;
    border-radius: 8px;
}

.banner-content2 {
    width: 400px;
    height: 380px;


}

.banner-content2 img {
    background-color: #C6E4D6;
}

/* banner-end */
/* start-main */
.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.card-container {
    gap: 30px;

}

.card {
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;
}

.card-container .card>h2 {
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0ECC;
    background-color: #FFFFFF;
}

.card-container .card>p {
    font-weight: 400;
    font-size: 18px;
    color: #0e0e0eb4;
    background-color: #FFFFFF;
}

/* vision-container-start */
.section-vision-container {
    margin-top: 100px;


}

.section-vision-container .vision-para {
    width: 1200px;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0EB2;
    font-weight: 400;
}

.section-vision-container>.card-container>.card-2 {
    background-color: #5490F533;
    width: 352px;
    height: 244px;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;

}

.section-vision-container>.card-container>.card-3 {
    background-color: #C6E4D6;
    width: 352px;
    height: 244px;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;

}

.section-vision-container>.card-container>.card-4 {
    background-color: #F7EBCF;
    width: 352px;
    height: 244px;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;

}

.vision-title {
    color: #0E0E0ECC;
    font-weight: 700px;
    font-size: 20px;
    margin-bottom: 10px;
}

.section-vision-container .vision-h2 {
    color: #0E0E0EB2;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;

}

.section-vision-container .vision-btn {
    background-color: #5490F5;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;

}

.section-vision-container .vision-btn-1 {
    background-color: #09A15C;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;

}

.section-vision-container .vision-btn-2 {
    background-color: #FFC239;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;

}

/* vision-container-end */

/*start-yunus  */

.yunus {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 1200px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow: 10px 0 10px #FFFFFF;
    border: 0.50px solid #0e0e0e21;
    border-radius: 16px;
    padding: 20px 40px;
}

.yunus-discription {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0ECC;
    line-height: 24px;
    margin-top: 30px;
}

.yunus-title {
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0ECC;
    line-height: 24px;
}

.yunus-containt>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E99;
}


.opinion-container {
    width: 1200px;
    margin-top: 80px;

}

.opinion-title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}


.opinion-contait {
    width: 1200px;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: 10px 0 10px #FFFFFF;
    border-radius: 16px;
    padding: 50px;
}

.opinion-table{
    border-collapse: collapse;
    width: 100%;
    height: 80%;   
}

td, th {
  border: 1px solid #dddddd; 
  text-align: left;
  padding: 20px;
}
th {
    background-color: #C6E4D6;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
}
td{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 600;
}
.td{
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E26;
    margin-left: 50px;
    padding:  13px 20px;
    border-radius: 4px;
    font-weight: 600;
}
.fa-solid{
    margin-left: 10px;
}






/*end-yunus  */






/* end-main */