.fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}





/* sheard-style */

.display-flex {
    display: flex;
}

.sheard-color {
    background-color: black;
}

/* sheard-style */

/* start-navber */
.nav-title {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 32px;
}

.nav-btn {
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 700;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
}

.navber {
    justify-content: space-between;
    align-items: center;
    margin: 10px 160px;
}

/* end-navber */

/* banner-start */
.banner-container {
    background-color: #C6E4D6;
    max-width: 1200px;
    height: 560px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 24px;
    gap: 60px;
    align-items: center;
    padding: 60px;
}

.banner-content1 {
    width: 550px;
    background-color: #C6E4D6;
}

.banner-content1 .banner-para {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E80;
    background-color: #C6E4D6;
    ;
}

.banner-content1 .banner-para2 {
    font-weight: 700;
    font-size: 56px;
    margin-top: 0px;
    background-color: #C6E4D6;
}

.banner-content1 .banner-button {
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 14px 34px;
    border: none;
    border-radius: 8px;
}

.banner-content2 {
    width: 400px;
    height: 380px;


}

.banner-content2 img {
    background-color: #C6E4D6;
}

/* banner-end */
/* start-main */
.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.card-container {
    gap: 30px;

}

.card {
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;
}

.card-container .card>h2 {
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0ECC;
    background-color: #FFFFFF;
}

.card-container .card>p {
    font-weight: 400;
    font-size: 18px;
    color: #0e0e0eb4;
    background-color: #FFFFFF;
}

/* vision-container-start */
.section-vision-container {
    margin-top: 100px;


}

.section-vision-container .vision-para {
    width: 1200px;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0EB2;
    font-weight: 400;
}

.section-vision-container>.card-container>.card-2
 {
    background-color: #5490F533;
    width: 352px;
    height: 244px;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;

}
.section-vision-container>.card-container >
.card-3 {
    background-color:  #C6E4D6;
    width: 352px;
    height: 244px;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;

}
.section-vision-container>.card-container >
.card-4 {
    background-color:   #F7EBCF;
    width: 352px;
    height: 244px;
    border-radius: 8px;
    box-shadow: 10px 0 10px #FFFFFF;
    padding: 15px;

}

.vision-title {
    color: #0E0E0ECC;
    font-weight: 700px;
    font-size: 20px;
    margin-bottom: 10px;
}

.section-vision-container .vision-h2 {
    color: #0E0E0EB2;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;

}

.section-vision-container .vision-btn {
    background-color: #5490F5;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;

}
.section-vision-container .vision-btn-1 {
    background-color: #09A15C;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;

}
.section-vision-container .vision-btn-2 {
    background-color: #FFC239;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;

}

/* vision-container-end */
/* end-main */